@import './base.css';

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: 400;
}

::selection {
  background: var(--color-primary);
  color: white;
}

a {
  text-decoration: none;
  color: var(--color-primary);
  transition: color var(--transition-fast);
}

a:hover {
  color: var(--color-primary-hover);
}

input,
textarea,
button,
select {
  font-family: inherit;
}

textarea {
  font-variant-ligatures: none;
}
